
.gallery {
    width: 100%;
    padding: 70px 0;
    background-image: url("C:/Users/karth/OneDrive/Desktop/food/food-ecom/public/image/plate.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    top: 90px;
   
}

/* Rest of your CSS code remains the same */

.gallery h1 {
    font-size: 80px;
    font-family: 'Lobster Two', cursive;
    position: relative;
    top: -40px;
 
}

.gallery h1 span {
    margin-left: 15px;
    color: rgb(26, 27, 27); /* Changed to light blue */
    font-size: 90px;
    font-family: 'Kaushan Script', cursive;
}

.gallery h1 span::after {
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    
    position: relative;
    bottom: 15px;
}

.gallery_image_box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    top: 50px;
}

.gallery_image {
    position: relative;
    background: rgb(94, 91, 91); /* Navy blue background */
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
    position: relative;
    top: -50px;
}
/*gallery hover */
.gallery_image:hover {
    transform: scale(1.05);
}

.gallery_image img {
    width: 100%;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.gallery_image:hover img {
    opacity: 0.5;
}

.gallery_image h3 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: rgb(95, 206, 243); /* Changed to light blue */
    font-family: polo;
    z-index: 5;
    opacity: 0;
    transition: 0.3s;
}

.gallery_image:hover h3 {
    opacity: 1;
}

.gallery_image p {
    position: absolute;
    bottom: 130px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    color: white;
    text-align: center;
    line-height: 22px;
    opacity: 0;
    z-index: 5;
    transition: 0.3s;
}

.gallery_image:hover p {
    opacity: 1;
}

.gallery_btn {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    background: lightblue; /* Changed to light blue */
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s;
}

.gallery_image:hover .gallery_btn {
    opacity: 1;
    transform: translate(-50%, 10px);
}
